/*
01.common
02.header
03.footer
04.top
05.Store
06.list
07.list
08.list

*/
/* 01.common */
* {
  box-sizing: border-box;
  line-height: 1;
}

body {
  color: #393939;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
}

a {
  cursor: pointer;
  transition: 0.4s;
}
a:hover {
  opacity: 0.6;
}

img {
  width: 100%;
}

.pc {
  display: block;
}
@media only screen and (max-width: 768px) {
  .pc {
    display: none;
  }
}

.sp {
  display: none;
}
@media only screen and (max-width: 768px) {
  .sp {
    display: block;
  }
}

.cntIn {
  margin: 0 auto;
  max-width: 1000px;
  width: 94%;
}

.flexBox {
  display: flex;
}

.gridBox {
  display: grid;
}

.titlePt01 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 32px;
  letter-spacing: 0.12em;
  color: #8c4e19;
  text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
  .titlePt01 {
    font-size: 28px;
  }
}

.titlePt02 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.2em;
  color: #996932;
}

#titleArea {
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  width: 100%;
  height: 290px;
}
@media only screen and (max-width: 768px) {
  #titleArea {
    height: 190px;
  }
}
#titleArea h1 {
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 26px;
  letter-spacing: 0.1em;
  color: #fff;
  text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
  #titleArea h1 {
    font-size: 22px;
  }
}
#titleArea h1::before {
  content: "";
  display: block;
  margin: 0 10px 0 0;
  width: 18px;
  height: 1px;
  background-color: #fff;
}

.itemCard img {
  margin: 0 0 10px;
}
.itemCard .name {
  margin: 0 0 5px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #000;
}
.itemCard .text {
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 21px;
  color: #000;
}
.itemCard .price {
  font-size: 16px;
  color: #000;
}

.newsItem {
  align-items: center;
  padding: 18px 0;
  border-bottom: 1px solid #b4b4b4;
}
@media only screen and (max-width: 768px) {
  .newsItem {
    flex-wrap: wrap;
    padding: 10px 0;
  }
}
.newsItem:first-of-type {
  border-top: 1px solid #b4b4b4;
}
.newsItem .day {
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #b4b4b4;
}
@media only screen and (max-width: 768px) {
  .newsItem .day {
    font-size: 12px;
  }
}
.newsItem .catLink {
  margin-left: 30px;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #8c4e19;
  inline-size: -webkit-fit-content;
  inline-size: -moz-fit-content;
  inline-size: fit-content;
  white-space: nowrap;
}
@media only screen and (max-width: 768px) {
  .newsItem .catLink {
    margin-left: 5px;
    font-size: 12px;
  }
}
.newsItem .catLink::before {
  content: "#";
}
.newsItem .newsTitle {
  margin-left: 20px;
  color: #393939;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  letter-spacing: 0.05em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media only screen and (max-width: 768px) {
  .newsItem .newsTitle {
    margin: 5px 0 0 0;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: clip;
    white-space: normal;
  }
}

/* 02.header */
header {
  position: fixed;
  border-bottom: 1.5px solid #393939;
  background-color: #fff;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
header .headerInner {
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 15px 20px;
  max-width: 1280px;
}
header #headerLogo a {
  font-family: "Courgette";
  font-size: 24px;
}
@media only screen and (max-width: 768px) {
  header #headerNav {
    display: block;
  }
}
header #headerNav li {
  margin-left: 15px;
}
@media only screen and (max-width: 768px) {
  header #headerNav li {
    position: relative;
    margin: 0 0 35px;
    padding: 0 0 15px;
    text-align: center;
  }
  header #headerNav li::after {
    content: "";
    display: block;
    position: absolute;
    width: 25px;
    height: 1px;
    background-color: #996932;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
header #headerNav .link {
  color: #996932;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 0.08em;
  line-height: 1;
  text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
  header nav {
    position: absolute;
    padding: 15px;
    width: 100%;
    background-color: #fff;
    top: 55px;
    left: -100vw;
    transition: 0.7s;
  }
}
@media only screen and (max-width: 768px) {
  header #humMenu {
    position: relative;
    width: 25px;
    height: 25px;
    background: linear-gradient(180deg, #fff, #fff 12.5px, #996932 12.5px, #996932 13.5px, #fff 13.5px, #fff 25px);
    background-repeat: repeat-y;
    transition: 0.7s;
  }
  header #humMenu::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #996932;
    width: 100%;
    height: 1px;
    transition: 0.7s;
    top: 0;
    left: 0;
  }
  header #humMenu::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #996932;
    width: 100%;
    height: 1px;
    transition: 0.7s;
    bottom: 0;
    left: 0;
  }
}
@media only screen and (max-width: 768px) {
  header.open nav {
    left: 0;
  }
  header.open #humMenu {
    background: none;
  }
  header.open #humMenu::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  header.open #humMenu::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    bottom: auto;
  }
}

/* 02.footer */
footer {
  border-top: 0.5px solid #393939;
  padding: 15px 0;
}
footer .copy {
  font-size: 12px;
  text-align: center;
}

/* 03.main */
main {
  margin-top: 55px;
}

/* 04.top */
#top #newsArea {
  padding: 100px 0;
}
@media only screen and (max-width: 768px) {
  #top #newsArea {
    padding: 50px 0;
  }
}
#top #newsArea .box01 {
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  #top #newsArea .box01 {
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px) {
  #top #newsArea .boxL {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 15px;
  }
}
#top #newsArea .boxL a {
  color: #393939;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-decoration: underline;
}
@media only screen and (max-width: 768px) {
  #top #newsArea .boxL a {
    font-size: 12px;
  }
}
#top #newsArea .titlePt01 {
  margin-bottom: 70px;
}
@media only screen and (max-width: 768px) {
  #top #newsArea .titlePt01 {
    margin-bottom: 0;
  }
}
#top #newsArea .boxR {
  width: 81%;
}
@media only screen and (max-width: 768px) {
  #top #newsArea .boxR {
    width: 100%;
  }
}
#top #featureArea {
  padding: 100px 0 180px;
  background-color: #f4f0ec;
}
@media only screen and (max-width: 768px) {
  #top #featureArea {
    padding: 50px 0;
  }
}
#top #featureArea .box01 {
  margin: 0 auto;
  inline-size: -webkit-fit-content;
  inline-size: -moz-fit-content;
  inline-size: fit-content;
}
@media only screen and (max-width: 768px) {
  #top #featureArea .box01 {
    flex-direction: column;
    inline-size: auto;
  }
}
@media only screen and (max-width: 768px) {
  #top #featureArea .titlePt01 {
    margin-bottom: 15px;
  }
}
#top #featureArea .featureText {
  margin-left: 70px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 38px;
  max-width: 540px;
}
@media only screen and (max-width: 768px) {
  #top #featureArea .featureText {
    margin: 0;
    width: 100%;
  }
}
#top #menuArea {
  padding: 100px 0;
}
@media only screen and (max-width: 768px) {
  #top #menuArea {
    padding: 50px 0 100px;
  }
}
#top #menuArea .bpx01 {
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 0 30px;
}
#top #menuArea .bpx01 a {
  color: #393939;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-decoration: underline;
}
#top #menuArea .titlePt02 {
  margin: 0 0 25px;
}
@media only screen and (max-width: 768px) {
  #top #menuArea .titlePt02 {
    font-size: 16px;
  }
}
#top #menuArea #pickUp {
  grid-template-columns: repeat(4, 1fr);
  gap: 0 15px;
}
@media only screen and (max-width: 768px) {
  #top #menuArea #pickUp {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px 0;
  }
}

/* 05.Store */
#store #storeInfo {
  padding: 70px 0;
  background-color: #f4f0ec;
}
@media only screen and (max-width: 768px) {
  #store #storeInfo {
    padding: 50px 0;
  }
}
#store #storeInfo .boxWrap {
  justify-content: space-between;
  align-items: flex-start;
}
@media only screen and (max-width: 768px) {
  #store #storeInfo .boxWrap {
    flex-direction: column;
  }
}
#store #storeInfo .box01 {
  padding: 35px 25px;
  width: 45%;
  background-color: #fff;
}
@media only screen and (max-width: 768px) {
  #store #storeInfo .box01 {
    margin: 0 0 50px;
    padding: 25px;
    width: 100%;
  }
}
#store #storeInfo .name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  letter-spacing: 0.12em;
  color: #8c4e19;
  text-transform: uppercase;
  margin: 0 0 30px;
}
#store #storeInfo .jpName {
  display: block;
  margin: 10px 0 0;
  font-size: 14px;
  letter-spacing: 0.1em;
}
#store #storeInfo #info dt,
#store #storeInfo #info dd,
#store #storeInfo #info a {
  margin: 0 0 10px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #996932;
}
#store #storeInfo #info dd {
  margin: 0 0 25px;
}
#store #storeInfo #info dd:last-of-type {
  margin: 0;
}
#store #storeInfo #info a {
  text-decoration: underline;
}
#store #storeInfo .box02 {
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 48%;
}
@media only screen and (max-width: 768px) {
  #store #storeInfo .box02 {
    width: 100%;
  }
}
#store #storeInfo .storeImg:nth-of-type(1) {
  grid-area: 1/1/2/3;
}
#store #storeInfo .storeImg:nth-of-type(2) {
  grid-area: 2/1/3/2;
}
#store #storeInfo .storeImg:nth-of-type(3) {
  grid-area: 2/2/3/3;
}

/* 06.Menu */
#menu .sec {
  padding: 100px 0;
}
@media only screen and (max-width: 768px) {
  #menu .sec {
    padding: 50px 0;
  }
}
#menu .title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  letter-spacing: 0.12em;
  color: #8c4e19;
  text-transform: uppercase;
  margin: 0 0 30px;
}
#menu .itemList {
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
@media only screen and (max-width: 768px) {
  #menu .itemList {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px 0;
  }
}

/* 07.list */
#list .listArea {
  padding: 100px 0;
}
#list .newsItem {
  flex-wrap: wrap;
  padding: 25px 0;
}
#list .newsTitle {
  margin: 10px 0 0;
  width: 100%;
  line-height: 28px;
  overflow: auto;
  text-overflow: clip;
  white-space: normal;
}
#list .wp-pagenavi {
  display: flex;
  align-items: center;
  justify-content: center;
}
#list .wp-pagenavi .page,
#list .wp-pagenavi .current {
  padding: 10px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
}
#list .wp-pagenavi .current {
  padding-bottom: 9px;
  border-bottom: 1px solid #996932;
  font-weight: 500;
}

/* 08.Single */
#single {
  padding: 140px 0 100px;
  background-color: #f5f0ea;
}
@media only screen and (max-width: 768px) {
  #single {
    padding: 80px 0;
  }
}
#single .blogArea {
  padding: 40px;
  background: #fff;
}
@media only screen and (max-width: 768px) {
  #single .blogArea {
    padding: 40px 15px;
  }
}
#single .dataBox {
  margin: 0 0 15px;
}
#single .dataBox .day {
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #b4b4b4;
}
#single .dataBox .catLink {
  margin: 0 0 0 13px;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #996932;
}
#single .dataBox .catLink::before {
  content: "#";
}
#single .blogTitle {
  border-bottom: 1px solid #996932;
  padding: 0 0 25px;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 28px;
  color: #393939;
}
@media only screen and (max-width: 768px) {
  #single .blogTitle {
    font-size: 18px;
    line-height: 28px;
  }
}
#single .blogText {
  margin: 45px 0 0;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 26px;
}
@media only screen and (max-width: 768px) {
  #single .blogText {
    margin: 35px 0 0;
  }
}
#single .blogImg {
  display: block;
  margin: 45px auto 0;
  max-width: 600px;
}
@media only screen and (max-width: 768px) {
  #single .blogImg {
    margin: 35px auto 0;
  }
}

/* 09.Page 404 */
#page404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#page404 h1 {
  display: block;
  margin: 0 auto 15px;
  font-size: 48px;
  font-weight: 700;
  color: #393939;
  text-align: center;
}
#page404 p {
  display: block;
  margin: 0 auto 10px;
  font-size: 18px;
  font-weight: 700;
  color: #393939;
  text-align: center;
}
#page404 a {
  color: #393939;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  letter-spacing: 0.05em;
  display: inline-block;
  margin: 0 auto;
  text-decoration: underline;
}

/* 10.Form */
#form {
  padding: 80px 0;
  background-color: #f4f0ec;
}
#form .cntIn {
  max-width: 786px;
}
#form h1 {
  margin: 0 0 50px;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: #393939;
}
@media only screen and (max-width: 768px) {
  #form h1 {
    font-size: 26px;
  }
}
#form #errMassage {
  display: none;
  margin: 0 0 30px;
  font-size: 18px;
  color: #ff3300;
  text-align: center;
}
#form #confirmMassage {
  display: none;
  margin: 0 0 30px;
  font-size: 18px;
  text-align: center;
  line-height: 1.8;
}
#form form {
  padding: 30px 20px;
  background-color: #fff;
}
#form dl {
  flex-wrap: wrap;
}
#form dt {
  margin: 0 0 30px;
  font-size: 18px;
  font-weight: 400;
  width: 30%;
}
@media only screen and (max-width: 768px) {
  #form dt {
    margin: 0 0 15px;
    width: 100%;
  }
}
#form dd {
  margin: 0 0 30px;
  width: 70%;
}
@media only screen and (max-width: 768px) {
  #form dd {
    width: 100%;
  }
}
#form input[type=text],
#form input[type=tel],
#form input[type=email],
#form textarea {
  border: 1px solid #393939;
  width: 100%;
}
#form input[type=text].err,
#form input[type=tel].err,
#form input[type=email].err,
#form textarea.err {
  border-color: #ff3300;
  background-color: #ffcccc;
}
#form textarea {
  height: 100px;
}
#form input[type=button],
#form input[type=submit] {
  margin: 0 auto;
  border: 1px solid;
  border-radius: 5px;
  padding: 20px 0;
  width: 200px;
  text-align: center;
  box-shadow: 2px 2px 2px #b4b4b4;
  transition: 0.5s;
}
#form input[type=button]:hover,
#form input[type=submit]:hover {
  box-shadow: none;
}

/* 11.FormSend */
#formSend {
  padding: 80px 0;
}
#formSend .cntIn {
  max-width: 786px;
}
#formSend h1 {
  margin: 0 0 50px;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: #393939;
}
@media only screen and (max-width: 768px) {
  #formSend h1 {
    font-size: 26px;
  }
}
#formSend p {
  font-size: 18px;
  text-align: center;
  line-height: 1.8;
}
/*# sourceMappingURL=style.css.map */