/*
01.common
02.header
03.footer
04.top
05.Store
06.list
07.list
08.list

*/

@use "./colors";
@use "./contentSize" as size;
@use "./fonts";
@use "./mixin";

/* 01.common */
* {
  box-sizing: border-box;
  line-height: 1;
}

body {
  color: colors.$Black;
  font-family: fonts.$JpFont;
  font-weight: 400;
}

a {
  cursor: pointer;
  transition: 0.4s;
  &:hover {
    opacity: 0.6;
  }
}

img {
  width: 100%;
}

.pc {
  display: block;
  @media only screen and (max-width: 768px) {
    display: none;
  }
}
.sp {
  display: none;
  @media only screen and (max-width: 768px) {
    display: block;
  }
}
.cntIn {
  margin: 0 auto;
  max-width: size.$CntTab;
  width: 94%;
}
.flexBox {
  display: flex;
}
.gridBox {
  display: grid;
}
.titlePt01 {
  @include mixin.H2Title($FontSize: 32px);
  @media only screen and (max-width: 768px) {
    font-size: 28px;
  }
}
.titlePt02 {
  @include mixin.Title02($FontSize: 20px);
}
#titleArea {
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  width: 100%;
  height: 290px;
  @media only screen and (max-width: 768px) {
    height: 190px;
  }
  h1 {
    align-items: center;
    font-family: fonts.$EnFont;
    font-size: 26px;
    letter-spacing: 0.1em;
    color: colors.$PureWhite;
    text-transform: uppercase;
    @media only screen and (max-width: 768px) {
      font-size: 22px;
    }
    &::before {
      @include mixin.PseudoElement($Content: "");
      margin: 0 10px 0 0;
      width: 18px;
      height: 1px;
      background-color: colors.$PureWhite;
    }
  }
}
.itemCard {
  img {
    margin: 0 0 10px;
  }
  .name {
    margin: 0 0 5px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: colors.$PureBlack;
  }
  .text {
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 21px;
    color: colors.$PureBlack;
  }
  .price {
    font-size: 16px;
    color: colors.$PureBlack;
  }
}
.newsItem {
  align-items: center;
  padding: 18px 0;
  border-bottom: 1px solid colors.$Gray;
  @media only screen and (max-width: 768px) {
    flex-wrap: wrap;
    padding: 10px 0;
  }
  &:first-of-type {
    border-top: 1px solid colors.$Gray;
  }
  .day {
    font-size: 14px;
    letter-spacing: 0.05em;
    color: colors.$Gray;
    @media only screen and (max-width: 768px) {
      font-size: 12px;
    }
  }
  .catLink {
    margin-left: 30px;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: colors.$DeepOrange;
    inline-size: fit-content;
    white-space: nowrap;
    @media only screen and (max-width: 768px) {
      margin-left: 5px;
      font-size: 12px;
    }
    &::before {
      content: "#";
    }
  }
  .newsTitle {
    margin-left: 20px;
    @include mixin.LinkTextJp($FontSize: 16px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @media only screen and (max-width: 768px) {
      margin: 5px 0 0 0;
      width: 100%;
      font-size: 14px;
      line-height: 20px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      text-overflow: clip;
      white-space: normal;
    }
  }
}

/* 02.header */
header {
  position: fixed;
  border-bottom: 1.5px solid colors.$Black;
  background-color: colors.$PureWhite;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;

  .headerInner {
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 15px 20px;
    max-width: size.$CntL;
  }

  #headerLogo {
    a {
      font-family: fonts.$LogoFont;
      font-size: 24px;
    }
  }

  #headerNav {
    @media only screen and (max-width: 768px) {
      display: block;
    }
    li {
      margin-left: 15px;
      @media only screen and (max-width: 768px) {
        position: relative;
        margin: 0 0 35px;
        padding: 0 0 15px;
        text-align: center;
        &::after {
          @include mixin.PseudoElement($Content: "");
          position: absolute;
          width: 25px;
          height: 1px;
          background-color: colors.$Orange;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    .link {
      @include mixin.LinkTextEn($FontSize: 16px);
      text-transform: uppercase;
    }
  }

  nav {
    @media only screen and (max-width: 768px) {
      position: absolute;
      padding: 15px;
      width: 100%;
      background-color: colors.$PureWhite;
      top: 55px;
      left: -100vw;
      transition: 0.7s;
    }
  }

  #humMenu {
    @media only screen and (max-width: 768px) {
      position: relative;
      width: 25px;
      height: 25px;
      background: linear-gradient(
        180deg,
        colors.$PureWhite,
        colors.$PureWhite 12.5px,
        colors.$Orange 12.5px,
        colors.$Orange 13.5px,
        colors.$PureWhite 13.5px,
        colors.$PureWhite 25px
      );
      background-repeat: repeat-y;
      transition: 0.7s;
      &::after {
        @include mixin.HumBorder;
        top: 0;
        left: 0;
      }
      &::before {
        @include mixin.HumBorder;
        bottom: 0;
        left: 0;
      }
    }
  }

  &.open {
    @media only screen and (max-width: 768px) {
      nav {
        left: 0;
      }
      #humMenu {
        background: none;
        &::after {
          @include mixin.HumOpen($Rotate: -45deg);
        }
        &::before {
          @include mixin.HumOpen($Rotate: 45deg);
          bottom: auto;
        }
      }
    }
  }
}

/* 02.footer */
footer {
  border-top: 0.5px solid colors.$Black;
  padding: 15px 0;
  .copy {
    font-size: 12px;
    text-align: center;
  }
}

/* 03.main */
main {
  margin-top: 55px;
}

/* 04.top */
#top {
  #newsArea {
    padding: 100px 0;
    @media only screen and (max-width: 768px) {
      padding: 50px 0;
    }
    .box01 {
      justify-content: space-between;
      @media only screen and (max-width: 768px) {
        flex-direction: column;
      }
    }
    .boxL {
      @media only screen and (max-width: 768px) {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 15px;
      }
      a {
        @include mixin.LinkTextJp($FontSize: 14px);
        text-decoration: underline;
        @media only screen and (max-width: 768px) {
          font-size: 12px;
        }
      }
    }
    .titlePt01 {
      margin-bottom: 70px;
      @media only screen and (max-width: 768px) {
        margin-bottom: 0;
      }
    }
    .boxR {
      width: 81%;
      @media only screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }
  #featureArea {
    padding: 100px 0 180px;
    background-color: colors.$Beige;
    @media only screen and (max-width: 768px) {
      padding: 50px 0;
    }
    .box01 {
      margin: 0 auto;
      inline-size: fit-content;
      @media only screen and (max-width: 768px) {
        flex-direction: column;
        inline-size: auto;
      }
    }
    .titlePt01 {
      @media only screen and (max-width: 768px) {
        margin-bottom: 15px;
      }
    }
    .featureText {
      margin-left: 70px;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.1em;
      line-height: 38px;
      max-width: 540px;
      @media only screen and (max-width: 768px) {
        margin: 0;
        width: 100%;
      }
    }
  }
  #menuArea {
    padding: 100px 0;
    @media only screen and (max-width: 768px) {
      padding: 50px 0 100px;
    }
    .bpx01 {
      align-items: flex-end;
      justify-content: space-between;
      margin: 0 0 30px;
      a {
        @include mixin.LinkTextJp($FontSize: 14px);
        text-decoration: underline;
      }
    }
    .titlePt02 {
      margin: 0 0 25px;
      @media only screen and (max-width: 768px) {
        font-size: 16px;
      }
    }
    #pickUp {
      grid-template-columns: repeat(4, 1fr);
      gap: 0 15px;
      @media only screen and (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px 0;
      }
    }
  }
}

/* 05.Store */
#store {
  #storeInfo {
    padding: 70px 0;
    background-color: colors.$Beige;
    @media only screen and (max-width: 768px) {
      padding: 50px 0;
    }
    .boxWrap {
      justify-content: space-between;
      align-items: flex-start;
      @media only screen and (max-width: 768px) {
        flex-direction: column;
      }
    }
    .box01 {
      padding: 35px 25px;
      width: 45%;
      background-color: colors.$PureWhite;
      @media only screen and (max-width: 768px) {
        margin: 0 0 50px;
        padding: 25px;
        width: 100%;
      }
    }
    .name {
      @include mixin.H2Title($FontSize: 22px);
      margin: 0 0 30px;
    }
    .jpName {
      display: block;
      margin: 10px 0 0;
      font-size: 14px;
      letter-spacing: 0.1em;
    }
    #info {
      dt,
      dd,
      a {
        margin: 0 0 10px;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.1em;
        color: colors.$Orange;
      }
      dd {
        margin: 0 0 25px;
        &:last-of-type {
          margin: 0;
        }
      }
      a {
        text-decoration: underline;
      }
    }
    .box02 {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      width: 48%;
      @media only screen and (max-width: 768px) {
        width: 100%;
      }
    }
    .storeImg {
      &:nth-of-type(1) {
        grid-area: 1 / 1 / 2 / 3;
      }
      &:nth-of-type(2) {
        grid-area: 2 / 1 / 3 / 2;
      }
      &:nth-of-type(3) {
        grid-area: 2 / 2 / 3 / 3;
      }
    }
  }
}

/* 06.Menu */
#menu {
  .sec {
    padding: 100px 0;
    @media only screen and (max-width: 768px) {
      padding: 50px 0;
    }
  }
  .title {
    @include mixin.H2Title($FontSize: 22px);
    margin: 0 0 30px;
  }
  .itemList {
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    @media only screen and (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 30px 0;
    }
  }
}

/* 07.list */
#list {
  .listArea {
    padding: 100px 0;
  }
  .newsItem {
    flex-wrap: wrap;
    padding: 25px 0;
  }
  .newsTitle {
    margin: 10px 0 0;
    width: 100%;
    line-height: 28px;
    overflow: auto;
    text-overflow: clip;
    white-space: normal;
  }
  .wp-pagenavi {
    display: flex;
    align-items: center;
    justify-content: center;
    .page,
    .current {
      padding: 10px;
      font-family: fonts.$JpFont;
      font-size: 14px;
    }
    .current {
      padding-bottom: 9px;
      border-bottom: 1px solid colors.$Orange;
      font-weight: 500;
    }
  }
}
/* 08.Single */
#single {
  padding: 140px 0 100px;
  background-color: colors.$SingleBgC;
  @media only screen and (max-width: 768px) {
    padding: 80px 0;
  }
  .blogArea {
    padding: 40px;
    background: colors.$PureWhite;
    @media only screen and (max-width: 768px) {
      padding: 40px 15px;
    }
  }
  .dataBox {
    margin: 0 0 15px;
    .day {
      font-size: 14px;
      letter-spacing: 0.05em;
      color: colors.$Gray;
    }
    .catLink {
      margin: 0 0 0 13px;
      font-size: 14px;
      letter-spacing: 0.05em;
      color: colors.$Orange;
      &::before {
        content: "#";
      }
    }
  }
  .blogTitle {
    border-bottom: 1px solid colors.$Orange;
    padding: 0 0 25px;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 28px;
    color: colors.$Black;
    @media only screen and (max-width: 768px) {
      font-size: 18px;
      line-height: 28px;
    }
  }
  .blogText {
    margin: 45px 0 0;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 26px;
    @media only screen and (max-width: 768px) {
      margin: 35px 0 0;
    }
  }
  .blogImg {
    display: block;
    margin: 45px auto 0;
    max-width: 600px;
    @media only screen and (max-width: 768px) {
      margin: 35px auto 0;
    }
  }
}
/* 09.Page 404 */
#page404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  h1 {
    display: block;
    margin: 0 auto 15px;
    font-size: 48px;
    font-weight: 700;
    color: colors.$Black;
    text-align: center;
  }
  p {
    display: block;
    margin: 0 auto 10px;
    font-size: 18px;
    font-weight: 700;
    color: colors.$Black;
    text-align: center;
  }
  a {
    @include mixin.LinkTextJp($FontSize: 18px);
    display: inline-block;
    margin: 0 auto;
    text-decoration: underline;
  }
}

/* 10.Form */
#form {
  padding: 80px 0;
  background-color: colors.$Beige;
  .cntIn {
    max-width: size.$CntSp;
  }
  h1 {
    margin: 0 0 50px;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: colors.$Black;
    @media only screen and (max-width: 768px) {
      font-size: 26px;
    }
  }
  #errMassage {
    display: none;
    margin: 0 0 30px;
    font-size: 18px;
    color: #ff3300;
    text-align: center;
  }
  #confirmMassage {
    display: none;
    margin: 0 0 30px;
    font-size: 18px;
    text-align: center;
    line-height: 1.8;
  }
  form {
    padding: 30px 20px;
    background-color: colors.$PureWhite;
  }
  dl {
    flex-wrap: wrap;
  }
  dt {
    margin: 0 0 30px;
    font-size: 18px;
    font-weight: 400;
    width: 30%;
    @media only screen and (max-width: 768px) {
      margin: 0 0 15px;
      width: 100%;
    }
  }
  dd {
    margin: 0 0 30px;
    width: 70%;
    @media only screen and (max-width: 768px) {
      width: 100%;
    }
  }
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea {
    border: 1px solid colors.$Black;
    width: 100%;
    &.err {
      border-color: #ff3300;
      background-color: #ffcccc;
    }
  }
  textarea {
    height: 100px;
  }
  input[type="button"],
  input[type="submit"] {
    margin: 0 auto;
    border: 1px solid;
    border-radius: 5px;
    padding: 20px 0;
    width: 200px;
    text-align: center;
    box-shadow: 2px 2px 2px colors.$Gray;
    transition: 0.5s;
    &:hover {
      box-shadow: none;
    }
  }
}
/* 11.FormSend */
#formSend {
  padding: 80px 0;
  .cntIn {
    max-width: size.$CntSp;
  }
  h1 {
    margin: 0 0 50px;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: colors.$Black;
    @media only screen and (max-width: 768px) {
      font-size: 26px;
    }
  }
  p {
    font-size: 18px;
    text-align: center;
    line-height: 1.8;
  }
}
